<%= form_tag("/posts/create") do %>
  <div class="form tweet">
    <div class="form-body">
      <!--このエラーメッセージ、英語だから変えてもいいかも。-->
      <% @post.errors.full_messages.each do |message| %>
          <%= message %>
      <% end %>

      <textarea name="tweet"><%= @post.tweet %></textarea>
      <input type="submit" value="投稿">
    </div>
  </div>
<% end %>

<div class="main posts-index">
  <div class="container">
    <div class="main-posts">
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <div class="post-left">
            <% user = User.find_by(id: post.user_id) %>
            <img src="<%= "/users_image/#{user.user_image}" %>">
          </div>
          <div class="post-user-name">
            <% user = User.find_by(id: post.user_id) %>
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
          <div class="post-tweet">
            <% text = post.tweet.split("#") %>
            <%= simple_format(text[0]) %>
            <div class="post-tag">
              <% count = text.count - 1 %>
              <% for i in 1..count %>
                <% tag = '#' << "#{text[i]}" %>
                <%= simple_format(link_to(tag, okasis_path(q:{"name_cont":text[1].chomp}))) %>
              <% end %>
            </div>
          </div>

          <div class="post-menus">
            <% if @current_user.id == post.user_id %>
              <!--削除機能は自分しかできないようにif文かなにかで仕分けしよう-->
              <%= link_to("/posts/#{post.id}/destroy", {method: "delete"}, data:{ confirm: '削除しますか？' }) do %>
                <span class="far fa-trash-alt"></span>
              <% end %>
            <% end %>
            <% if Like.find_by(user_id: @current_user, post_id: post.id) %>
              <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
                <span class="fas fa-heart like-btn"></span>
              <% end %>
            <% else %>
              <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
                <span class="far fa-heart "></span>
              <% end %>
            <% end %>
            <%= Like.where(post_id: post.id).count %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="pageBodySub">
      <section>
        <%= search_form_for @q do |f| %>
        <div class="search">
          <div class="form-body">
            <%= f.search_field :tweet_cont,  placeholder: "キーワード", class: "sbox" %>
            <%= button_tag type: 'submit', id:"sbtn2", class:"fas fa-search" do %>
            <% end %>
          </div>
        </div>
        <% end %>
        <h2>おすすめユーザ</h2>
            <% @Recommended.each do |user| %>
              <%= link_to("/users/#{user.id}", class: "acount button") do %>
                <div class="cent">
                  <img src="<%= "/users_image/#{user.user_image}" %>">
                </div>
                <div class="acount-user-name">
                  <%= user.name %>
                </div>
              <% end %>
            <% end  %>
      </section>
    </div>
  </div>



</div>
